#header {
    background-color: #605dfc;
}

#nav {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    list-style: none;
    padding: 0.5rem 0 0.5rem 0;
}

li {
    background-color: #f7fa5e;
    padding: 1rem;
    border-radius: 5px;
}